# Python caching
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
.env

# ML models and large binaries
models/
*.h5

# Local databases
*.db

# Leaf image datasets
dataset/
app/static/uploads/*

# OS metadata
Thumbs.db
.DS_Store
